<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"> </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
  <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
  <meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#563d7c">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }

      .mt-md-0,
      .my-md-0 {
        margin-top: 0 !important;
      }


      .col-lg-4 {
        padding-bottom: 10;
        padding-top: 10;
        text-align: center;
      }

      .rate {
        color: white;
        background-color: #007bff;
      }

      .no-friends {
        padding-top: 100;
        text-align: center;
      }

      .form-inline mt-2 mt-md-0 {
        width: auto;
        margin-top: 0 !important
      }
  </style>
</head>

<body>
  <header>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="http://127.0.0.1:5000/">PandemicTracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/country"> &nbsp; Country List &nbsp; </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/compare_countries"> &nbsp; Compare Countries &nbsp; </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/health_guidelines"> &nbsp; Health Guidelines &nbsp; </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('hello') }}"> &nbsp; About &nbsp; </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main role='main'>

    <html>

    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <!-- Feed -->
    {% if countries %}

    <center>
      <h1>Compare Countries</h1>
      <br>

      This page allows you to compare two different territories according to their Coronavirus data.<br>
      <b>Note: </b> Any country with an asterisk (*) is name-disputed territory.<br>
      Countries whose data is in <b>bold</b> has larger values for that data.

    </center>

    <br><br>

    <center>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <center>
            <h4>Country 1:</h4>
            <img id="country1image" src="https://www.countryflags.io/af/shiny/64.png" class="rounded">
          </center>
        </div>
        <div class="col">
          <center>
            <h4>Country 2:</h4>
            <img id="country2image" src="https://www.countryflags.io/al/shiny/64.png" class="rounded">
          </center>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <select name="country1" id="country1" class="form-control"
            onchange="handleChange('country1',this.value,this)">
            {% for country in countries %}
            <option value="{{country.countryName}}">{{country.countryName}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <select name="country2" id="country2" class="form-control"
            onchange="handleChange('country2',this.value,this)">
            {% for country in countries %}
            <option value="{{country.countryName}}">{{country.countryName}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col"></div>
      </div>

      <br>

      <style type="text/css">
        table,
        td {
          border-bottom: 1px solid black;
          height: 50px;
          text-align: center;
        }

        th {
          background-color: #8dc79d;
          padding: 15px;
          text-align: center;
        }

        tr:hover {
          background-color: #f5f5f5;
        }
      </style>

      <div style="overflow-x:auto;"></div>

      <div class="row">
        <div class="col"><center><br><br><br><br><br><br><center></div>
        <div class="col-6">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 34%"></th>
                <th id="country1name" scope="col" style="width: 33%"> Afghanistan </th>
                <th id="country2name" scope="col" style="width: 33%"> Albania </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Number of Cases:</th>
                <td id="country1cases">0</td>
                <td id="country2cases">0</td>
              </tr>

              <tr>
                <th scope="row">Number of Deaths:</th>
                <td id="country1deaths">0</td>
                <td id="country2deaths">0</td>
              </tr>

              <tr>
                <th scope="row">Number of Recoveries:</th>
                <td id="country1recoveries">0</td>
                <td id="country2recoveries">0</td>
              </tr>

              <tr>
                <th scope="row">Number of Doctors per 1000 People:</th>
                <td id="country1tests">0</td>
                <td id="country2tests">0</td>
              </tr>

              <tr>
                <th scope="row">Number of Hospital Beds per 1000 People:</th>
                <td id="country1beds">0</td>
                <td id="country2beds">0</td>
              </tr>

              <tr>
                <th scope="row">Latest Travel Restrictions:</th>
                <td id="country1restrictions"> </td>
                <td id="country2restrictions"> </td>
              </tr>

          </table>
        </div>
        <div class="col"><br><br><br><br><br><br><center><center> </div>
      </div>

      <br><br>

      {% else %}
      <div class="no-friends">
        <h1>No countries</h1>
      </div>
      {% endif %}
      <!-- End of  Feed -->
      <!-- Follow Suggestions -->
  </main>

  <style type="text/css">
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>

  <script>

    var myCountries = {{ countries| tojson}};
    document.getElementById("country1name").innerHTML = myCountries[0].countryName;
    document.getElementById("country1cases").innerHTML = myCountries[0].numCases;
    document.getElementById("country1deaths").innerHTML = myCountries[0].numDeaths;
    document.getElementById("country1recoveries").innerHTML = myCountries[0].numRecovered;
    document.getElementById("country1tests").innerHTML = myCountries[0].numDoctors;
    document.getElementById("country1beds").innerHTML = myCountries[0].numHospitalBeds;
    if (myCountries[0].latestTravelRestriction == null) {
      document.getElementById("country1restrictions").innerHTML = "None";
    } else {
      document.getElementById("country1restrictions").innerHTML = myCountries[0].latestTravelRestriction;
    }

    document.getElementById("country2name").innerHTML = myCountries[1].countryName;
    document.getElementById("country2cases").innerHTML = myCountries[1].numCases;
    document.getElementById("country2deaths").innerHTML = myCountries[1].numDeaths;
    document.getElementById("country2recoveries").innerHTML = myCountries[1].numRecovered;
    document.getElementById("country2tests").innerHTML = myCountries[1].numDoctors;
    document.getElementById("country2beds").innerHTML = myCountries[1].numHospitalBeds;
    document.getElementById("country2restrictions").innerHTML = myCountries[1].latestTravelRestriction;
    if (myCountries[1].latestTravelRestriction == null) {
      document.getElementById("country2restrictions").innerHTML = "None";
    } else {
      document.getElementById("country2restrictions").innerHTML = myCountries[1].latestTravelRestriction;
    }

    document.getElementById("country2").options[0].disabled = true;
    document.getElementById("country2").selectedIndex = 1;
    document.getElementById("country1").options[1].disabled = true;

    function handleChange(id, name) {
      document.getElementById(id + "name").innerHTML = name;
      var myCountries = {{ countries| tojson
    }};
    for (var i = 0; i < myCountries.length; i++) {
      if (myCountries[i].countryName == name) {
        document.getElementById(id + "cases").innerHTML = myCountries[i].numCases;
        document.getElementById(id + "deaths").innerHTML = myCountries[i].numDeaths;
        document.getElementById(id + "recoveries").innerHTML = myCountries[i].numRecovered;
        document.getElementById(id + "tests").innerHTML = myCountries[i].numDoctors;
        document.getElementById(id + "beds").innerHTML = myCountries[i].numHospitalBeds;
        if (myCountries[i].latestTravelRestriction == null) {
          document.getElementById(id + "restrictions").innerHTML = "None"
        }
        else {
          document.getElementById(id + "restrictions").innerHTML = myCountries[i].latestTravelRestriction;
        }
      }
    }
    if(iso(name) != "none"){
    document.getElementById(id+"image").src = "https://www.countryflags.io/"+iso(name)+"/shiny/64.png";
    }
    else{
      document.getElementById(id+"image").src = "";
    }


    disableOther(id, name);
    largestBold("cases");
    largestBold("deaths");
    largestBold("recoveries");
    largestBold("tests");
    largestBold("beds");
      }

    function disableOther(id, name) {
      if (id == "country1") var id2 = "country2";
      else var id2 = "country1";
      var currentIndex = document.getElementById(id).selectedIndex;

      for (var i = 0; i < document.getElementById(id2).options.length; i++) {
        document.getElementById(id2).options[i].disabled = false;
      }
      document.getElementById(id2).options[currentIndex].disabled = true;
    }

    function largestBold(field) {
      if (parseInt(document.getElementById("country1" + field).innerHTML) > parseInt(document.getElementById("country2" + field).innerHTML)) {
        document.getElementById("country1" + field).style.fontWeight = 'bold';
        document.getElementById("country2" + field).style.fontWeight = 'normal';
      }
      else if (parseInt(document.getElementById("country1" + field).innerHTML) == parseInt(document.getElementById("country2" + field).innerHTML)) {
        document.getElementById("country1" + field).style.fontWeight = 'normal';
        document.getElementById("country2" + field).style.fontWeight = 'normal';
      }
      else {
        document.getElementById("country1" + field).style.fontWeight = 'normal';
        document.getElementById("country2" + field).style.fontWeight = 'bold';
      }
    }

    function iso(name)
    {
      var isoCountries = [
  {
    "code": "af",
    "name": "Afghanistan"
  },
  {
    "code": "ax",
    "name": "Aland Islands"
  },
  {
    "code": "al",
    "name": "Albania"
  },
  {
    "code": "dz",
    "name": "Algeria"
  },
  {
    "code": "as",
    "name": "American Samoa"
  },
  {
    "code": "ad",
    "name": "Andorra"
  },
  {
    "code": "ao",
    "name": "Angola"
  },
  {
    "code": "ai",
    "name": "Anguilla"
  },
  {
    "code": "aq",
    "name": "Antarctica"
  },
  {
    "code": "ag",
    "name": "Antigua and Barbuda"
  },
  {
    "code": "ar",
    "name": "Argentina"
  },
  {
    "code": "am",
    "name": "Armenia"
  },
  {
    "code": "aw",
    "name": "Aruba"
  },
  {
    "code": "au",
    "name": "Australia"
  },
  {
    "code": "at",
    "name": "Austria"
  },
  {
    "code": "az",
    "name": "Azerbaijan"
  },
  {
    "code": "bs",
    "name": "Bahamas"
  },
  {
    "code": "bh",
    "name": "Bahrain"
  },
  {
    "code": "bd",
    "name": "Bangladesh"
  },
  {
    "code": "bb",
    "name": "Barbados"
  },
  {
    "code": "by",
    "name": "Belarus"
  },
  {
    "code": "be",
    "name": "Belgium"
  },
  {
    "code": "bz",
    "name": "Belize"
  },
  {
    "code": "bj",
    "name": "Benin"
  },
  {
    "code": "bm",
    "name": "Bermuda"
  },
  {
    "code": "bt",
    "name": "Bhutan"
  },
  {
    "code": "bo",
    "name": "Bolivia"
  },
  {
    "code": "ba",
    "name": "Bosnia and Herzegovina"
  },
  {
    "code": "bw",
    "name": "Botswana"
  },
  {
    "code": "bv",
    "name": "Bouvet Island"
  },
  {
    "code": "br",
    "name": "Brazil"
  },
  {
    "code": "io",
    "name": "British Indian Ocean Territory"
  },
  {
    "code": "bn",
    "name": "Brunei"
  },
  {
    "code": "bg",
    "name": "Bulgaria"
  },
  {
    "code": "bf",
    "name": "Burkina Faso"
  },
  {
    "code": "mm",
    "name": "Burma"
  },
  {
    "code": "bi",
    "name": "Burundi"
  },
  {
    "code": "kh",
    "name": "Cambodia"
  },
  {
    "code": "cm",
    "name": "Cameroon"
  },
  {
    "code": "ca",
    "name": "Canada"
  },
  {
    "code": "cv",
    "name": "Cabo Verde"
  },
  {
    "code": "ky",
    "name": "Cayman Islands"
  },
  {
    "code": "cf",
    "name": "Central African Republic"
  },
  {
    "code": "td",
    "name": "Chad"
  },
  {
    "code": "cl",
    "name": "Chile"
  },
  {
    "code": "cn",
    "name": "China"
  },
  {
    "code": "cx",
    "name": "Christmas Island"
  },
  {
    "code": "cc",
    "name": "Cocos (Keeling) Islands"
  },
  {
    "code": "co",
    "name": "Colombia"
  },
  {
    "code": "km",
    "name": "Comoros"
  },
  {
    "code": "cg",
    "name": "Congo (Brazzaville)"
  },
  {
    "code": "cd",
    "name": "Congo (Kinshasa)"
  },
  {
    "code": "ck",
    "name": "Cook Islands"
  },
  {
    "code": "cr",
    "name": "Costa Rica"
  },
  {
    "code": "ci",
    "name": "Cote d'Ivoire"
  },
  {
    "code": "hr",
    "name": "Croatia"
  },
  {
    "code": "cu",
    "name": "Cuba"
  },
  {
    "code": "cy",
    "name": "Cyprus"
  },
  {
    "code": "cz",
    "name": "Czechia"
  },
  {
    "code": "dk",
    "name": "Denmark"
  },
  {
    "code": "dj",
    "name": "Djibouti"
  },
  {
    "code": "dm",
    "name": "Dominica"
  },
  {
    "code": "do",
    "name": "Dominican Republic"
  },
  {
    "code": "ec",
    "name": "Ecuador"
  },
  {
    "code": "eg",
    "name": "Egypt"
  },
  {
    "code": "sv",
    "name": "El Salvador"
  },
  {
    "code": "gq",
    "name": "Equatorial Guinea"
  },
  {
    "code": "er",
    "name": "Eritrea"
  },
  {
    "code": "ee",
    "name": "Estonia"
  },
  {
    "code": "et",
    "name": "Ethiopia"
  },
  {
    "code": "fk",
    "name": "Falkland Islands (Malvinas)"
  },
  {
    "code": "fo",
    "name": "Faroe Islands"
  },
  {
    "code": "fj",
    "name": "Fiji"
  },
  {
    "code": "fi",
    "name": "Finland"
  },
  {
    "code": "fr",
    "name": "France"
  },
  {
    "code": "gf",
    "name": "French Guiana"
  },
  {
    "code": "pf",
    "name": "French Polynesia"
  },
  {
    "code": "tf",
    "name": "French Southern Territories"
  },
  {
    "code": "ga",
    "name": "Gabon"
  },
  {
    "code": "gm",
    "name": "Gambia"
  },
  {
    "code": "ge",
    "name": "Georgia"
  },
  {
    "code": "de",
    "name": "Germany"
  },
  {
    "code": "gh",
    "name": "Ghana"
  },
  {
    "code": "gi",
    "name": "Gibraltar"
  },
  {
    "code": "gr",
    "name": "Greece"
  },
  {
    "code": "gl",
    "name": "Greenland"
  },
  {
    "code": "gd",
    "name": "Grenada"
  },
  {
    "code": "gp",
    "name": "Guadeloupe"
  },
  {
    "code": "gu",
    "name": "Guam"
  },
  {
    "code": "gt",
    "name": "Guatemala"
  },
  {
    "code": "gg",
    "name": "Guernsey"
  },
  {
    "code": "gn",
    "name": "Guinea"
  },
  {
    "code": "gw",
    "name": "Guinea-Bissau"
  },
  {
    "code": "gy",
    "name": "Guyana"
  },
  {
    "code": "ht",
    "name": "Haiti"
  },
  {
    "code": "hm",
    "name": "Heard Island & Mcdonald Islands"
  },
  {
    "code": "va",
    "name": "Holy See"
  },
  {
    "code": "hn",
    "name": "Honduras"
  },
  {
    "code": "hk",
    "name": "Hong Kong"
  },
  {
    "code": "hu",
    "name": "Hungary"
  },
  {
    "code": "is",
    "name": "Iceland"
  },
  {
    "code": "in",
    "name": "India"
  },
  {
    "code": "id",
    "name": "Indonesia"
  },
  {
    "code": "ir",
    "name": "Iran"
  },
  {
    "code": "iq",
    "name": "Iraq"
  },
  {
    "code": "ie",
    "name": "Ireland"
  },
  {
    "code": "im",
    "name": "Isle Of Man"
  },
  {
    "code": "il",
    "name": "Israel"
  },
  {
    "code": "it",
    "name": "Italy"
  },
  {
    "code": "jm",
    "name": "Jamaica"
  },
  {
    "code": "jp",
    "name": "Japan"
  },
  {
    "code": "je",
    "name": "Jersey"
  },
  {
    "code": "jo",
    "name": "Jordan"
  },
  {
    "code": "kz",
    "name": "Kazakhstan"
  },
  {
    "code": "ke",
    "name": "Kenya"
  },
  {
    "code": "xk",
    "name": "Kosovo"
  },
  {
    "code": "ki",
    "name": "Kiribati"
  },
  {
    "code": "kr",
    "name": "Korea, South"
  },
  {
    "code": "kw",
    "name": "Kuwait"
  },
  {
    "code": "kg",
    "name": "Kyrgyzstan"
  },
  {
    "code": "la",
    "name": "Laos"
  },
  {
    "code": "lv",
    "name": "Latvia"
  },
  {
    "code": "lb",
    "name": "Lebanon"
  },
  {
    "code": "ls",
    "name": "Lesotho"
  },
  {
    "code": "lr",
    "name": "Liberia"
  },
  {
    "code": "ly",
    "name": "Libyan Arab Jamahiriya"
  },
  {
    "code": "li",
    "name": "Liechtenstein"
  },
  {
    "code": "lt",
    "name": "Lithuania"
  },
  {
    "code": "lu",
    "name": "Luxembourg"
  },
  {
    "code": "mo",
    "name": "Macao"
  },
  {
    "code": "mk",
    "name": "Macedonia"
  },
  {
    "code": "mg",
    "name": "Madagascar"
  },
  {
    "code": "mw",
    "name": "Malawi"
  },
  {
    "code": "my",
    "name": "Malaysia"
  },
  {
    "code": "mv",
    "name": "Maldives"
  },
  {
    "code": "ml",
    "name": "Mali"
  },
  {
    "code": "mt",
    "name": "Malta"
  },
  {
    "code": "mh",
    "name": "Marshall Islands"
  },
  {
    "code": "mq",
    "name": "Martinique"
  },
  {
    "code": "mr",
    "name": "Mauritania"
  },
  {
    "code": "mu",
    "name": "Mauritius"
  },
  {
    "code": "yt",
    "name": "Mayotte"
  },
  {
    "code": "mx",
    "name": "Mexico"
  },
  {
    "code": "fm",
    "name": "Micronesia, Federated States Of"
  },
  {
    "code": "md",
    "name": "Moldova"
  },
  {
    "code": "mc",
    "name": "Monaco"
  },
  {
    "code": "mn",
    "name": "Mongolia"
  },
  {
    "code": "me",
    "name": "Montenegro"
  },
  {
    "code": "ms",
    "name": "Montserrat"
  },
  {
    "code": "ma",
    "name": "Morocco"
  },
  {
    "code": "mz",
    "name": "Mozambique"
  },
  {
    "code": "mm",
    "name": "Myanmar"
  },
  {
    "code": "na",
    "name": "Namibia"
  },
  {
    "code": "nr",
    "name": "Nauru"
  },
  {
    "code": "np",
    "name": "Nepal"
  },
  {
    "code": "nl",
    "name": "Netherlands"
  },
  {
    "code": "an",
    "name": "Netherlands Antilles"
  },
  {
    "code": "nc",
    "name": "New Caledonia"
  },
  {
    "code": "nz",
    "name": "New Zealand"
  },
  {
    "code": "ni",
    "name": "Nicaragua"
  },
  {
    "code": "ne",
    "name": "Niger"
  },
  {
    "code": "ng",
    "name": "Nigeria"
  },
  {
    "code": "nu",
    "name": "Niue"
  },
  {
    "code": "nf",
    "name": "Norfolk Island"
  },
  {
    "code": "mp",
    "name": "Northern Mariana Islands"
  },
  {
    "code": "mk",
    "name": "North Macedonia"
  },
  {
    "code": "no",
    "name": "Norway"
  },
  {
    "code": "om",
    "name": "Oman"
  },
  {
    "code": "pk",
    "name": "Pakistan"
  },
  {
    "code": "pw",
    "name": "Palau"
  },
  {
    "code": "ps",
    "name": "Palestinian Territory, Occupied"
  },
  {
    "code": "pa",
    "name": "Panama"
  },
  {
    "code": "pg",
    "name": "Papua New Guinea"
  },
  {
    "code": "py",
    "name": "Paraguay"
  },
  {
    "code": "pe",
    "name": "Peru"
  },
  {
    "code": "ph",
    "name": "Philippines"
  },
  {
    "code": "pn",
    "name": "Pitcairn"
  },
  {
    "code": "pl",
    "name": "Poland"
  },
  {
    "code": "pt",
    "name": "Portugal"
  },
  {
    "code": "pr",
    "name": "Puerto Rico"
  },
  {
    "code": "qa",
    "name": "Qatar"
  },
  {
    "code": "re",
    "name": "Reunion"
  },
  {
    "code": "ro",
    "name": "Romania"
  },
  {
    "code": "ru",
    "name": "Russia"
  },
  {
    "code": "rw",
    "name": "Rwanda"
  },
  {
    "code": "bl",
    "name": "Saint Barthelemy"
  },
  {
    "code": "sh",
    "name": "Saint Helena"
  },
  {
    "code": "kn",
    "name": "Saint Kitts and Nevis"
  },
  {
    "code": "lc",
    "name": "Saint Lucia"
  },
  {
    "code": "mf",
    "name": "Saint Martin"
  },
  {
    "code": "pm",
    "name": "Saint Pierre And Miquelon"
  },
  {
    "code": "vc",
    "name": "Saint Vincent and the Grenadines"
  },
  {
    "code": "ws",
    "name": "Samoa"
  },
  {
    "code": "sm",
    "name": "San Marino"
  },
  {
    "code": "st",
    "name": "Sao Tome and Principe"
  },
  {
    "code": "sa",
    "name": "Saudi Arabia"
  },
  {
    "code": "sn",
    "name": "Senegal"
  },
  {
    "code": "rs",
    "name": "Serbia"
  },
  {
    "code": "sc",
    "name": "Seychelles"
  },
  {
    "code": "sl",
    "name": "Sierra Leone"
  },
  {
    "code": "sg",
    "name": "Singapore"
  },
  {
    "code": "sk",
    "name": "Slovakia"
  },
  {
    "code": "si",
    "name": "Slovenia"
  },
  {
    "code": "sb",
    "name": "Solomon Islands"
  },
  {
    "code": "so",
    "name": "Somalia"
  },
  {
    "code": "za",
    "name": "South Africa"
  },
  {
    "code": "gs",
    "name": "South Georgia And Sandwich Isl."
  },
  {
    "code": "es",
    "name": "Spain"
  },
  {
    "code": "lk",
    "name": "Sri Lanka"
  },
  {
    "code": "sd",
    "name": "South Sudan"
  },
  {
    "code": "sr",
    "name": "Suriname"
  },
  {
    "code": "sj",
    "name": "Svalbard And Jan Mayen"
  },
  {
    "code": "sz",
    "name": "Eswatini"
  },
  {
    "code": "se",
    "name": "Sweden"
  },
  {
    "code": "ch",
    "name": "Switzerland"
  },
  {
    "code": "sy",
    "name": "Syria"
  },
  {
    "code": "tw",
    "name": "Taiwan*"
  },
  {
    "code": "tj",
    "name": "Tajikistan"
  },
  {
    "code": "tz",
    "name": "Tanzania"
  },
  {
    "code": "th",
    "name": "Thailand"
  },
  {
    "code": "tl",
    "name": "Timor-Leste"
  },
  {
    "code": "tg",
    "name": "Togo"
  },
  {
    "code": "tk",
    "name": "Tokelau"
  },
  {
    "code": "to",
    "name": "Tonga"
  },
  {
    "code": "tt",
    "name": "Trinidad and Tobago"
  },
  {
    "code": "tn",
    "name": "Tunisia"
  },
  {
    "code": "tr",
    "name": "Turkey"
  },
  {
    "code": "tm",
    "name": "Turkmenistan"
  },
  {
    "code": "tc",
    "name": "Turks And Caicos Islands"
  },
  {
    "code": "tv",
    "name": "Tuvalu"
  },
  {
    "code": "ug",
    "name": "Uganda"
  },
  {
    "code": "ua",
    "name": "Ukraine"
  },
  {
    "code": "ae",
    "name": "United Arab Emirates"
  },
  {
    "code": "gb",
    "name": "United Kingdom"
  },
  {
    "code": "us",
    "name": "US"
  },
  {
    "code": "um",
    "name": "United States Outlying Islands"
  },
  {
    "code": "uy",
    "name": "Uruguay"
  },
  {
    "code": "uz",
    "name": "Uzbekistan"
  },
  {
    "code": "vu",
    "name": "Vanuatu"
  },
  {
    "code": "ve",
    "name": "Venezuela"
  },
  {
    "code": "vn",
    "name": "Vietnam"
  },
  {
    "code": "vg",
    "name": "Virgin Islands, British"
  },
  {
    "code": "vi",
    "name": "Virgin Islands, U.S."
  },
  {
    "code": "wf",
    "name": "Wallis And Futuna"
  },
  {
    "code": "eh",
    "name": "Western Sahara"
  },
  {
    "code": "ye",
    "name": "Yemen"
  },
  {
    "code": "zm",
    "name": "Zambia"
  },
  {
    "code": "zw",
    "name": "Zimbabwe"
  }
  ]

    for(var i = 0; i < isoCountries.length; i++){
    if(isoCountries[i].name == name) return isoCountries[i].code;
    }

    return "none";
    }

  </script>
